{% extends 'base.html.twig' %}

{% block body %}


    <div class="container customcontainer">
        <div class="row">

            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-12 order-md-2 col-md-10 ">
                <!-- H1 Article -->
                <div class="main-article-link">
                    <div class="main-article mb-5 pb-5">

                        <div class="container">
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}


                            <form class="form-signin" action="{{ path('login') }}" method="post">
                                <h2 class="form-signin-heading customtitle">¿Ya registrado? ¡Entra ahora!</h2>
                                <p>¿Aún no tienes una cuenta? <a href="{{ path('user_registration') }}">¡Únete!</a></p>


                                <label for="username" class="sr-only">Correo Electrónico</label>
                                <input type="text" id="username" name="_username" class="form-control" placeholder="Correo Electrónico" value="{{ last_username }}" required autofocus />

                                <label for="password"  class="sr-only">Contraseña</label>
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required/>

                                <button class="btn btn-lg btn-primary btn-block custombutton" type="submit">Entrar</button>
                            </form>


                        </div>

                    </div>
                </div>



            </div>


        </div>
    </div>
{% endblock %}
