$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

$bg-color-day: #f4f7f6;
// $bg_div-color-day: #FFFFFF;
// $bg_navbar-color-day: #126DF9;

$bg_div-color-day: #ffffff;
$bg_div-color-border-day: #ffffff;
$bg_navbar-color-day: #89bdd3;
// $bg_navbar-color-day: #6B9080;
// $font-color-day: 242729;
$font-color-day: #202121;
$font-color-inverse-day: #ffffff;
$bg_buttoncolor-day: #49c5b6;
// 202121


body {
  font-family: 'Roboto Slab', serif;
  position: relative;
  // background: #efefee;
  background-color: $bg-color-day;
  min-height: 45rem;
  padding-bottom: 80px;
  color: $font-color-day !important;
}

h1, h2, h3, h4, h5{
  font-family: 'Raleway', sans-serif;
}

html {height:100%}

.customcontainer h1, .customcontainer h2, .customcontainer h3, .customcontainer h4, .customcontainer h5{
  color: $font-color-day !important;
}
.customcontainer p{
  color: $font-color-day !important;
}
.customcontainer button{
  color: $font-color-inverse-day !important;
  background-color: $bg_buttoncolor-day!important;
}
.customcontainer input{
  color: $font-color-day !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $font-color-day !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $font-color-day !important;
  opacity:  1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $font-color-day !important;
  opacity:  1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $font-color-day !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    $font-color-day !important;
}

::placeholder { /* Most modern browsers support this now. */
  color:    $font-color-day !important;
}


/* NAVIGATION */



.navbar-bg {
  // background: url('../images/space-nav.jpg');
  background-color: $bg_navbar-color-day;
  background-size: 80%;
}

.dropdown-menu, .dropdown-menu.show {
  right: 0;
}

.space-brand {
  color: $font-color-day;
  font-weight: bold;
}

.nav-profile-img {
  width: 30px;
  height: 30px;

  border: 1px solid #fff;
}


.customnavbar{
  background-color: $bg-color-day !important;

  border-top: 1px solid $bg-color-day !important;
  border-left: 1px solid $bg-color-day !important;
  border-right: 1px solid $bg-color-day !important;
  border-bottom: 1px solid black !important;

  color: $font-color-day !important;

  border-radius: 0 !important;
  -moz-border-radius: 0 !important;

  font-size: 13px !important;
  font-weight: 400 !important;

  // display: inline-block !important;
  // border: 2px solid yellow;
  // float: left;

}
.customnavbar input{
  // display: inline-block !important;
  // border: 2px solid red;
}
.custombutton{
  background-color: $bg_buttoncolor-day !important;

  border: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;

  // display: inline-block !important;
   // border: 1px solid $bg_buttoncolor-day;


  // display: inline !important;


}
.navbarsearch{
  width: 100% !important;
  /*
  display: -moz-inline-block !important;
  display: inline-block !important;
  */


}
.inputgroupsearch{
  /*
  display: -moz-inline-block !important;
  display: inline-block !important;
  */
}
.navbarinputgroup{
  // border: 1px solid red;
  /*
  display: -moz-inline-block !important;
  display: inline-block !important;
  */


}

.navbarform{
  // border: 1px solid yellow;
  // width: 100% !important;
}
/*
.navbarform{
  display: inline-block !important;
}

.navbarbutton{
  display: inline-block !important;
}
*/

/* LOGIN REGISTRATION */

.form-container {
  /*
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  */
  border-left: 1px solid $bg_div-color-border-day;
  border-right: 1px solid $bg_div-color-border-day;
  border-bottom: 1px solid $bg_div-color-border-day;
  background-color: $bg_div-color-day;
}


.askquestion{
  min-height:200px !important;
  width: 100% !important;
}
.selectasktags input{
  margin: 5px;
}
.selectasktags label{
  margin: 5px;
}

.divasktags{
  margin-top: 10px;
  margin-bottom: 10px;
}

.inactive {
  border-color: lightgray lightgray lightgray;
  background: darkgray;
  color: $font-color-day;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #efefee;
}

/* ADVERTISEMENT */

.ad-space {
  background-color: $bg_div-color-day;
  border-radius: 5px;
  border-top: 5px solid green;
}

.advertisement-img {
  width: 150px;
  height: auto;
  border: 2px solid #efefee;
  border-radius: 5px;
}

.advertisement-text {
  font-weight: bold;
}

.quote-space {
  background-color: $bg_div-color-day;
  margin-top: 30px;
  border-radius: 5px;
  border-top: 5px solid hotpink;
}

/* ARTICLES */

.main-article {
  border: 2px solid $bg_div-color-border-day;
  // background-color: $bg_div-color-day;
  background-color: $bg_div-color-day;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.main-article img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 5px solid lightblue;
}

.article-container {
  border: 1px solid #efefee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: $bg_div-color-day;

  list-style-type: none !important;

  //padding-bottom: 20px;
  //padding-top: 20px;
}

.main-article-link, .article-container a {
  text-decoration: none;
  color: #000;
}

.main-article-link:hover {
  text-decoration: none;
  color: #000;
  list-style-type: none !important;
}


.article-title {
  min-width: 300px;

}

@media (max-width: 440px) {
  .article-title {
    min-width: 100px;
    max-width: 245px;
  }
}

.article-img {
  height: 100px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.article-author-img {
  height: 25px;
  border: 1px solid darkgray;
}

.article-details {
  font-size: .8em;
}

/* PROFILE */

.profile-img {
  width: 150px;
  height: auto;
  border: 2px solid #fff;
}

.profile-name {
  font-size: 1.5em;
}

.my-article-container {
  background: #FFBC49;
  border: solid 1px #efefee;
  border-radius: 5px;
}


/* CREATE ARTICLE */

.create-article-container {
  min-width: 400px;
  background-color: lightblue;
  border-radius: 5px;
}

/* ARTICLE SHOW PAGE */

.show-article-container {
  width: 100%;
  background-color: $font-color-day;
}

.show-article-img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.show-article-title {
  font-size: 2em;
}

.like-article, .like-article:hover {
  color: red;
  text-decoration: none;
}

@media (max-width: 991px) {
  .show-article-title {
    font-size: 1.5em;
  }

  .show-article-title-container {
    max-width: 220px;
  }
}

.article-text {
  margin-top: 20px;
}

.share-icons i {
  font-size: 1.5em;
}

.comment-img {
  width: 50px;
  height: auto;
  border: 1px solid darkgray;
}

.commenter-name {
  font-weight: bold;
}

.comment-form {
  min-width: 500px;
}

@media (max-width: 767px) {
  .comment-form {
    min-width: 260px;
  }
}



/* FOOTER */
.contenido{
  min-height: calc(100vh - 70px);
}

.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $font-color-day;
  margin-top: 10px;




}
.footercontainer{
  background-color: $font-color-day;
}
.navavatar{
  border: none !important;
}
.navavatarusername{
  margin-right: 5px;
  // border: 1px solid red;
  color: $font-color-inverse-day;
}

.article-container .article-title {

  padding-top: 8px;
  padding-bottom: 8px;
  color: #333;
}

.articlequestion{
  transition: none !important;
  text-decoration: none !important;
}
.articlequestion:hover{
  transition: none !important;
  text-decoration: none !important;
}

.questionusername, .questiontime, .questiontitle{
  color: #117FF1;
}
.questiontitle span{



}
.questiontext span{


}

.newquestions {
  text-align: left;
  color: #117FF1;
  padding-left: 20px;
}


.intromessage{
  background-color: #84A9C0;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.questionTag{
  background-color: #E0EAF1;
  padding: 5px;
}

.customcontainer{
  // background-color: #c9c9c9;
  // color: #e3e3e3;
}


.avatarpregunta{
  margin-left: 5px !important;
  /*
  border: 1px solid red !important;
  background-color: red !important;
  color: red !important;
  */
}

.croptext{
  overflow:hidden !important;
  white-space: nowrap !important; /* Don't forget this one */
  text-overflow: ellipsis !important;
  max-width:550px;
}

.articlefullcontainer{
  padding-right: 10px;
}

.questioningAnswerText{
  color: $bg_navbar-color-day;
}

.answeringform, .questiondivAnswering{
  width: 100%;
}

.answerauthor{
  display: inline !important;
}
.scoreText{
  display: inline !important;
  color: $bg_navbar-color-day;
  margin-left: 52px;
  margin-bottom: -2px;

}
.buttonScore{
  background-color: $bg_navbar-color-day;
  margin-left: 40px;
  display: inline !important;
  color: $font-color-inverse-day;
}
.lowerbuttonscore{
  margin-bottom: 10px;
}

.answeravathar{
  padding: 10px;
  display: inline !important;
  // border: 1px solid yellow;

  margin-left: 10px;
  margin-top: 10px;

}

.scoringanswer{
  display: inline !important;


  // border: 1px solid green;
  // border: 1px solid red;

}

.leftanswerplace{
  // border: 1px solid red;
}