{% extends 'base.html.twig' %}
{% block body %}



<div class="container">
    <div class="row">

        <div class="col-md-1 order-md-1"></div>
        <div class="col-sm-12 order-md-2 col-md-10 ">
            <!-- H1 Article -->
            <div class="main-article-link" href="#">
                <div class="main-article mb-5 pb-3">

                    <div class="container">

                            <h2>{{ app.user.username }}</h2>



                    </div>

                </div>
            </div>



        </div>


    </div>
</div>

{% endblock %}